
body{
	font-family:"wf_segoe-ui_light", Arial, Helvetica, sans-serif;
}

#eventlist {
    background-color:#FFFAF0;
    float:left;
	position:fixed;
	bottom:50px;
	left:200px;
    width:300px;
	overflow:scroll;
	height: -webkit-calc(100% - 100px); 
	height: -moz-calc(100% - 100px); 
}

#loginButton {
	color:#003300;
	position:absolute;
	top:0px;
	right:0px;
	height:50px;
	width:500px;
	text-align:right;
	padding-top:15px;
	padding-right:30px;
}
#loginButton:hover {
	color:#3333cc;
	cursor: pointer;
}
#loginButton:active {
	color:#6666ff;
	cursor:pointer;
}

#header {
	background-color:#33cc33;
	background-image:url(images/headerGradient.png);
	background-repeat:repeat-x;
	height:50px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}

#eventTemplate, #groupTemplate {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plusbutton {
    position: fixed;
    bottom: 0px;
	left: 200px;
	z-index:2;
}

.selected {
    background-color: lightblue;
}

#eventDetails {
	background-color:#FFF8DC;
	position:fixed;
	width:500px;
	height:500px;
	bottom:5px;
	right:5px;
	z-index:3;
	height: -webkit-calc(100% - 60px); 
	height: -moz-calc(100% - 60px); 
	width: -webkit-calc(100% - 510px); 
	width: -moz-calc(100% - 510px); 
}
.statusImage {
    width: 32px;
    height: 32px;
    float: right;
	position:relative;
	bottom:12px;
}
.eventImagePreview {
	height:70px;
	background-image:url(images/sampleEvent0.jpg);
}
.eventTitle{
	padding:5px;
	font-size:24px;
}
.eventMiniDescription{
	margin-left:10px;
}
.center-cropped {
  background-position: center center;
  background-repeat: no-repeat;
}
.plusButton:hover, #saveButton:hover {
	color:#3333cc;
	cursor: pointer;
}
.plusButton:active, #saveButton:active {
	color:#6666ff;
	cursor:pointer;
}
.statusImage:hover{
	cursor:pointer;
}
.plusButtonText {
	padding-top:5px;
	padding-left:5px;
	float:right;
}
#eventImage {
	float:left;
	margin:10px;
}
.editable {
	
}
#saveButton {
    position:fixed;
	bottom:10px;
	right:10px;
	padding:5px;
	margin:5px;
	z-index:3;
	/*background-color:#66cc66;
	border-radius:10px;*/
}
#logo {
	font-size:40px;
	position:fixed;
	top:5px;
	left:50px;
	font-family:"MS Serif", "New York", serif;
}
#groupList{
    background-color:#FFFAF0;
  	position:fixed;
	top:0px;
	left:0px;
    width:200px;
    height:100%;  
	margin-top:50px;
	overflow:scroll;
}
.group {
	border-bottom:#333 1px solid;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
}
.event {
	border-bottom:#333 1px solid;
	padding-bottom:10px;
}
.group:hover, .event:hover {
	cursor:pointer;
	background-color:#FFF8DC;	
}
.group:active, .event:active {
	cursor:pointer;
	background-color:#E6E1B8;
}
.attendanceButton:hover {
	cursor:pointer;
}
div[contenteditable] {
	background-color:#878787;
}
#description {
	overflow:scroll;
	height:300px;
}
#attendance {
	height:100px;
	width: -webkit-calc(100% - 510px); 
	width: -moz-calc(100% - 510px); 
	position:fixed;
	bottom:0px;
	right:0px;
	text-align:center;
}
.attendanceButton {
	width:64px;
	height:64px;
	position:relative;
	top:20px;
}
#confirmButton {
	background-image:url(images/confirm.png);
}
#confirmButton:active {
	background-image:url(images/confirmDown.png);
}
#denyButton {
	background-image:url(images/deny.png);
}
#denyButton:active {
	background-image:url(images/denyDown.png);
}
#confirmText {
	color:#66ff66;
	text-shadow: 1px 2px #009900;
	position:fixed;
	width: -webkit-calc(50% - 330px); 
	width: -moz-calc(50% - 330px); 
	left: -mox-calc(100% - 510px);
	left: -webkit-calc(100% - 510px);
	text-align:right;
	bottom:40px;
}
#denyText {
	color:#ff6666;
	text-shadow: 1px 2px #990000;
	position:fixed;
	width: -webkit-calc(50% - 330px); 
	width: -moz-calc(50% - 330px); 
	right:0px;
	text-align:left;
	bottom:40px;
}
